# Dependencies
node_modules/

# Build outputs
/dist/
/.next/
/out/
/build/
coverage/

# Environment & secrets
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor artifacts
.DS_Store
Thumbs.db
.idea/
.vscode/

# OS / misc
*.swp
*.swo
*.orig
